<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Auto</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Create a New Auto</h1>
    <form action="/create" method="post">
      <label for="marca">Marca:</label>
      <select id="marca" name="marca" required>
        <option value="Toyota">Toyota</option>
        <option value="Ford">Ford</option>
        <option value="Chevrolet">Chevrolet</option>
        <option value="Honda">Honda</option>
        <option value="BMW">BMW</option>
        <!-- Añadir más opciones según sea necesario --></select
      ><br />

      <label for="modelo">Modelo:</label>
      <select id="modelo" name="modelo" required>
        <option value="Corolla">Corolla</option>
        <option value="Mustang">Mustang</option>
        <option value="Camaro">Camaro</option>
        <option value="Civic">Civic</option>
        <option value="3 Series">3 Series</option>
        <!-- Añadir más opciones según sea necesario --></select
      ><br />

      <label for="vendido">Vendido:</label>
      <input type="checkbox" id="vendido" name="vendido" /><br />

      <button type="submit">Create</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
  </body>
</html>
