<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Dealership</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Welcome to the Car Dealership</h1>
    <div class="card-container">
      <div class="card">
        <h2>Crear Auto</h2>
        <p>Crea un nuevo auto en la base de datos.</p>
        <a href="/create" class="button">Crear Auto</a>
      </div>
      <div class="card">
        <h2>Leer Autos</h2>
        <p>Ver todos los autos en la base de datos.</p>
        <a href="/read" class="button">Leer Autos</a>
      </div>
      <div class="card">
        <h2>Actualizar Auto</h2>
        <p>Actualiza la información de un auto existente.</p>
        <a href="/update" class="button">Actualizar Auto</a>
      </div>
      <div class="card">
        <h2>Borrar Auto</h2>
        <p>Elimina un auto de la base de datos.</p>
        <a href="/delete" class="button">Borrar Auto</a>
      </div>
    </div>
  </body>
</html>
